.main-section__title {
  padding: 90px 0 23px 0;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.main-section__columns {
  display: flex;
  margin-top: 70px;
  width: 100%;
  justify-content: space-between;
}

.main-section__column {
  width: calc(50% - 20px);
}


.main-section__column-title {
  margin: 0 0 26px 0;
  font-size: 20px;
  font-weight: 400;
  
}

.main-section__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

}

@media (max-width: 900px) {
  .main-section__column {
    width: calc(50% - 15px);
  }
}

@media (max-width: 550px) {
  .main-section__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
  }

  .main-section__columns {
    flex-direction: column;
    margin-top: 60px;
  }

  .main-section__column {
    width: 100%;
    margin-bottom: 56px;
  }

  .main-section__column:last-of-type {
    margin-bottom: 0;
  }

  .main-section__column-title {
    font-size: 18px;
    margin: 0 0 16px 0;
  }

  .main-section__text {
    font-size: 11px;
    line-height: 16px;
  }
}

.progress-bar {
  width: 100%;
  display: flex;
  margin: 110px 0;
}

.progress-bar__container_small {
  min-width: 25%;
}

.progress-bar__container_big {
  width: 75%;
  flex-shrink: 1;
}

.progress-bar__stripe {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar__stripe_green {
  background-color: #3DDC84;
}

.progress-bar__stripe_gray {
  background-color: #303030;
}

.progress-bar__text {
  font-size: 14px;
  margin: 0;
}

.progress-bar__text_black {
  color: black;
}

.progress-bar__annotation {
  width: 100%;
  text-align: center;
  margin: 14px 0 0 0;
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 550px) {
  .progress-bar {
    margin: 70px 0;
  }

  .progress-bar__text {
    font-size: 11px;
  }

  .progress-bar__container_small {
    min-width: 100px;
  }

  .progress-bar__annotation {
    font-size: 11px;
    font-weight: 400;
  }
}