.techs {
  background-color: #272727;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  font-size: 50px;
  font-weight: 400;
  margin: 90px 0 26px;
}

.techs__subtitle {
  max-width: 460px;
  margin: 0 0 100px 0;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.techs__icon-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 100px 0;
  padding: 0;
}

.techs__icon {
  width: 90px;
  height: 60px;
  background-color: #303030;
  margin-right: 10px;
  text-align: center;
  padding: 21px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
}

.techs__icon:last-of-type {
  margin: 0;
}

@media (max-width: 900px) {
  .techs__icon-list {
    max-width: 390px;
    flex-wrap: wrap;
  }

  .techs__icon {
    margin-bottom: 10px;
    font-size: 12px;
    width: 84px;
    height: 57px;
  
  }

  .techs__icon:nth-of-type(4n) {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .techs__title {
    font-size: 30px;
  }
  
  .techs__subtitle {
    font-size: 11px;
  }

  .techs__icon-list {
    max-width: 190px;
  }

  .techs__icon:nth-of-type(2n) {
    margin-right: 0;
  }
}